    h1{
        color: rgb(4, 59, 40);
        font-size: 6vh;
        text-align: center;
    }


.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(./imagens/Gemini_Generated_Image_bbpc36bbpc36bbpc.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

input{
    padding: 10px 30px;
    border: 1px solid rgb(30, 172, 72);
    border-radius: 5px;
    display: flex;
    margin-top: 20px;
    outline: none;
    max-width: 500px;
    width: 100%;
    font-size: 1.5em;
}


button{
    background-color: rgb(8, 177, 5);
    border: none;
    padding:10px;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid rgb(24, 188, 35);
    width: 100%;
    max-width:300px ;
    font-size: 1.5em;
    color: aliceblue;
    box-shadow: 0 1px 50px rgb(73, 228, 117);
    transition: background-color 1.60s, ease-in-out;
}

button:disabled{
    background-color: rgb(123, 163, 144);
    box-shadow: none;
    border:1px solid green;
    color: rgb(32, 107, 32);
    
}
